<section class = "container">
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <form #myForm = "ngForm" class="needs-validation" novalidate>

        <label for="exampleInputUsername">Username</label>
        <label class="sr-only" for="inlineFormInputGroup">Username</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input [ngClass]="{'is-invalid': username.invalid && (username.dirty || username.touched)}" #username="ngModel" ngModel name="username" type="text" class="form-control" id="inlineFormInputGroup"  placeholder="Username" required>
          <div class="invalid-feedback">
            <span>กรุณากรอก username</span>
          </div>
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched)}" #password="ngModel" ngModel name="password" type="password" class="form-control" id="exampleInputPassword1" required >
          <div class="invalid-feedback">
            <span>กรุณากรอก password</span>
          </div>
        </div>



        <div class="form-group">
          <label for="exampleFormControlInput2">Nickname</label>
          <input [ngClass]="{'is-invalid': nickname.invalid && (nickname.dirty ||nickname.touched)}" #nickname="ngModel" ngModel name="nickname" type="text" class="form-control" id="exampleFormControlInput2" placeholder="tom" required>
          <div class="invalid-feedback">
            <span>กรุณากรอก nickname</span>
          </div>
        </div>


        <div class="form-group">
          <label for="exampleFormControlInput1">Email address</label>
          <input  [ngClass]="{'is-invalid': email.invalid && (email.dirty ||email.touched)}" #email="ngModel" ngModel name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <div class="invalid-feedback">
            <span>กรุณากรอก email</span>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="register(myForm.value)">Sign up</button>



      </form>
      {{ myForm.value | json}}


    </div>
