<section class = "container">
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <h3>Welcome login</h3>

      <form>

        <div class="form-group">
          <label for="exampleInputUsername1">Username</label>
          <input type="username" class="form-control" id="exampleInputUsername1">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Remember me</label>
        </div>

        <button type="submit" class="btn btn-primary">sign in</button>
      </form>


    </div>
  </div>
</section>
